@import "../styles/mixins.scss";
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.movie {
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.container {
  background-color: #1b1b1b;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 2em;
  display: flex;
  gap: 0.7em;
  flex-direction: column;

  h1 {
    border-radius: 1.5em;
    border: solid rgb(112, 112, 112) 2px;
    font-size: 2rem;
    padding: 1rem;
    background-color: #282828;
    text-align: center;
    color: white;
    margin-bottom: 3.5rem;
  }
}

.modalOverlay {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(0 0 0 / 78%);
  overflow-y: hidden;
  z-index: 999;
}

.modalContent {
  background-color: #474747;
  color: black;
  width: 55rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.block {
  display: block;
  width: 100%;

  & h1 {
    margin-top: 1em;
  }
}

.closeBtn {
  @include flashy-button;
  margin-top: auto;
  margin-bottom: 2rem;
}

a {
  color: rgb(50, 156, 192);
  text-decoration: none;

  &:hover {
    color: rgb(50, 90, 192);
    text-decoration: underline;
  }
}

.table {
  padding: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  border: 1px solid black;
  color: white;
  background-color: #474747;
  display: flex;
  justify-content: space-around;
}

.DescRiption {
  width: 55%;
}
.desc {
  background-color: #474747;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  & b {
    text-align: center;
    font-size: 32px;
  }

  & br {
    margin-top: 2em;
  }
}
