@import "../styles/styles.scss";

.container {
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  background: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
